$border-width: 1px;
$border-bold: 3px;
$border-solid: solid;
$border-dashed: dashed;
$border-none: none;
$border-hidden: hidden;
$border-radius-none: none;
$border-radius-sm: calc(1rem/8);
$border-radius-md: calc(1rem/5);
$border-radius-lg: calc(1rem/4);
$border-radius-xl: calc(1rem/3);
$border-radius-xxl: calc(1rem/2);
$border-radius-circle: 9999px;

$border-light: #cbd5e1;
$border-color: #64748b;
$border-dark: #1e293b;